@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;600&display=swap');

:root{
    --primary-color:#415172;
    --secondary-color:#1CA866;
    --white-color: #f3f3f3;
    --black-color: #151515;
    --hov-color: #157447;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
/* Navbar */
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 2px solid black; */
    padding: 1.2rem 1.5rem;
    background-color: var(--primary-color);
}
nav #left-container{
    /* border: 2px solid black; */
    padding: 0 2rem;
}

nav #left-container h1{
    color: var(--white-color);
    font-weight: 600;
    font-size: 2rem;
}

#left-container a{
    text-decoration: none;
}

#right-container a{
    text-decoration: none;
}

nav #left-container h1 span{
    color: var(--secondary-color)
}
nav #right-container{
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
    /* align-items: center; */
}

.btn{
    height: 100%;
    padding: 0.8rem 1.4rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.3rem;
    color: var(--white-color);
}

button:hover{
    cursor: pointer;
}

main{
    height: 90vh;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

main #main-container{
    width: 80%;
    height: 70%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#main-container .text-container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
    /* justify-content: center; */
    /* align-items: center; */
}

.text-container .title{
    font-size: 5rem;
    font-weight: 500;
}
.title span{
    color: var(--secondary-color);
}

.text-container .body{
    width: 60%;
}

.text-container .button{
    /* border: 2px solid black; */
    height: 10%;
    margin: 1.2rem 0;
    
}

.button button{
    background-color: var(--secondary-color);
    color: var(--white-color);
    /* height: 100%; */
    width: 50%;
    font-size: 1.8rem;
    border: none;
    padding: 0.5rem 0;
}

button:hover{
    background-color: var(--hov-color);
}
#main-container .image-container{
    /* border: 2px solid black; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-left: 1px solid rgba(0,0,0,0.5);
}

.image-container img{
    height: 80%;
    width: 90%;
}


/* Login */

.login-container{
    /* border: 2px solid black; */
    height: 70%;
    width: 30%;
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.login_content{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    height: 90%;
    width: 90%;
}

.login_content .title{
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    /* border: 2px solid black; */
}

.login_content .login_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    height: 50%;
    width: 100%;
}
.login_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

form input{
    padding: 0.8rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
}


form .input_field{
    /* border: 2px solid black; */
    padding: 0.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
form span{
    background-color: white;
    padding: 0.675rem;
    font-size: 1.2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
form .btn{
    margin-top: 0.8rem;
    width: 70%;
    border-radius: 10px;
}

.or_container{
    /* border: 2px solid black; */
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or_container p{
    color: rgba(255,255,255,0.5);
}
.line{
    margin: 0 0.4rem;
    border: 1px solid rgba(255,255,255,0.5);
    height: 0;
    width: 100%;
}

.google_container{
    display: flex;
    justify-content: space-around;
    background-color: var(--white-color);
    padding: 0.6rem 1rem;
    border-radius: 10px;
}
.google_container a{
    text-decoration: none;
    color: var(--black-color);
}
.google_logo{
    font-weight: lighter;
    margin: 0 1.5rem 0 0;
}

/*Payment*/
.payment-container{
    background-color: #D9D9D9;
    height: 40%;
    width: 40%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem 0;
    flex-direction: column;
}
.payment-container .title{
    font-size: 2rem;
}
.payment_logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
    height: 50%;
    margin: 2rem;
}

.payment_logo .esewa{
    width: 50%;
    height:100%;
    /* padding: 0.8rem; */
}
.payment_logo a{
    /* border: 2px solid black; */
    height: 40%;
    width: 20%;
    text-align: center;
    background-color: var(--white-color);
}

.payment_logo a:hover{
    background-color: rgb(190, 186, 186);
}
.payment_logo .khalti{
    width: 60%;
    height:100%;
}

/*Exam*/
.exam_container{
    background-color: var(--primary-color);
    color: var(--white-color);
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.exam_container .question_container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    width: 100%;
    margin: 2rem;
}

.question_container h3{
    font-size: 2rem;
    margin: 0 2rem;
}

.question_container p{
    font-size: 2rem;
}
.exam_container .option_container{
    /* border: 2px solid black; */
    height: 70%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.option_container .option{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}

#btn{
    padding: 1rem 1rem;
    font-size: 1.5rem;
    background-color: #FFF3F3;
    width: 80%;
    height: 50%;
    border: none;
}

#btn:hover{
    background-color: antiquewhite;
}

.prev_next{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.congratulation_container{
    border: 2px solid black;
    text-align: center;
    height: 60%;
    width: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
}


.congratulation_container p,h4{
    font-size: 2rem;
    margin: 1.5rem;
    color: white;
}

.congratulation_container .button_container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* border: 2px solid black; */
    margin: 1.5rem;
}