{% load static %}
<nav>
    <div id="left-container">
        <div class="logo">
            <a href = "{% url 'home'%}"><h1>Good<span>aau</span></h1></a>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    <div id="right-container">
        <div class="prof_section">
                
            <ul>
                <a href="#"><img src = "{% static 'image/arrow-whit.svg'%}" class = "arrow"/></a>
                <ul class= "dropdown">
                    <li><a href = "{% url 'profile'%}">Profile</a></li>
                    <li><a href = "{% url 'logout' %}">LogOut</a></li>
                </ul>
            </ul>
            <div class="profile">
                {% if request.user.userdetail.photo.url%}
                    <a href = "{% url 'profile'%}"><img src = "{{request.user.userdetail.photo.url}}" class="profile_image"/></a>
                {% else %}
                    <a href = "{% url  'profile'%}"><img src = "{% static 'image/avatar.svg'%}" class="profile_image"/></a>
                {% endif %}
            </div>   
        </div>    
    </div>
    {% else %}
    <div id="right-container">
        <a href = "{% url 'login'%}"><button class="btn">Login</button></a>    
    </div>
    {% endif %}
    
</nav>
